/* @author Andrew Crenwelge */
body {
  max-width: 800px;
  margin: auto;
  font-family: Helvetica, Arial; /* multiple values! */
}
pre > code {
  background-color: inherit;
}
code {
  background-color: #fbe5e1;
  color: #c0341d;
}
