<header>
  <nav>
    <ul>
      <li><button routerLink="/">Home</button></li>
      <ng-container *ngIf="isAuthenticated; else loggedOutControls">
        <li><button routerLink="/inbox">Inbox</button></li>
        <li><button routerLink="/send">New Email</button></li>
        <li><button routerLink="/profile">{{profileText}}</button></li>
        <li><button (click)="logout()">Logout</button></li>
      </ng-container>
      <ng-template #loggedOutControls>
        <li><button (click)="login()">Login</button></li>
      </ng-template>
    </ul>
  </nav>
</header>
